* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(31, 22, 22);
  margin: 0 3rem;
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
}

.name-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  position: relative;
}

