:root {
  --main-color: rgb(235, 27, 27);
  --font-color: rgb(238, 238, 238);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: rgb(31, 22, 22);
  margin: 0 3rem;
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--font-color);
  width: 50vw;
}

svg {
  fill: var(--font-color);
  width: 40px;
  height: 40px;
  transition: fill 1s ease;

}

.name-container {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-container {
  position: relative;
}

